<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Информация о товаре</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
</head>
<body>
<div class="container text-center">
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/product">Магазин</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link active" aria-current="page" href="/product">Товары</a>
                    <a class="nav-link" href="/auth/auth/login">Авторизация</a>
                    <a class="nav-link disabled">Disabled</a>
                </div>
            </div>
        </div>
    </nav>
    <p th:text="'Наименование: ' + ${product.getTitle()}" class="lh-base"></p>
    <p th:text="'Описание: ' + ${product.getDescription()}" class="lh-base"></p>
    <p th:text="'Цена: ' + ${product.getPrice()}" class="lh-base"></p>
    <p th:text="'Склад: ' + ${product.getWarehouse()}" class="lh-base"></p>
    <p th:text="'Продавец: ' + ${product.getSeller()}" class="lh-base"></p>
    <p th:text="'Категория: ' + ${product.getCategory().getName()}" class="lh-base"></p>
    <div th:each="img : ${product.getImageList()}">
        <img th:src="'/img/' + ${img.getFileName()}" width="300px" class="rounded float-start" alt="...">
    </div>
</div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
</body>
</html>